body{
    font-size: 20px;
}
h1{
    margin-bottom:5px;
}
textarea{
    height:100px;
    width:100%;
}
#input p, #output p{
    margin-bottom:5px;
}
#map{
    width:100%;
    height:300px;
    margin-top:10px;
}
#error{
    margin-top:5px;
    color:red;
}
#footer p {
    font-size:14px;
}
@media screen and (min-width: 768px)  {
    #container {
      width:50%;
      margin:auto;
    }
  }